* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.header {
  padding: 16px 0;
  text-align: center;
}
.logo {
  font-family: monospace;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-main);
}
.main {
  margin-top: 4em;
  text-align: center;
}
.main input {
  width: 100%;
}
.input-group {
  display: flex;
}
.input-group input {
  margin-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: opx;
}
.input-group button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
button.primary {
  background-color: #1d4ed8;
  color: #fff;
}
button.primary:hover {
  background-color: #3b82f6;
}
.error {
  color: #dc2626;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
}
.details {
  background-color: var(--background);
  border-radius: 6px;
  padding: 1em;
  margin: 1em 0;
}
.details h5 {
  margin-top: 1em;
}
.parts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parts > div {
  font-size: 20px;
}
.parts b {
  display: block;
}
.timezone {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timezone h5 {
  margin: 0;
}
.timezone select {
  font-size: 12px;
  font-weight: 700;
  background-color: #fff;
}
.moreinfo {
  margin-top: 4em;
}
.details + .moreinfo {
  margin-top: 2em;
}
.relative-time {
  margin-left: 1em;
  font-size: 20px;
  text-transform: capitalize;
  font-style: italic;
}